/* calendar */
.calendar {
  padding: 0.2em;
  border: 1px solid indigo;
}

.month-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  font-size: 0.7rem;
}

.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.weekday-holiday {
  color: brown;
}

.day {
  border: 1px dotted goldenrod;

  /* make days squares */
  padding: 0;
  width: 1.5em;
  height: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.day:hover,
.day:active {
  border: 1px solid orangered;
}

.day-dummy,
.day-dummy:hover,
.day-dummy:active {
  border: none;
  color: lightgray;
  user-select: none;
}

.day-today {
  color: white;
  background-color: darkorange;
}

.day-today:hover,
.day-today:active {
  color: royalblue;
  background-color: #ffa332;
  border: 1px solid royalblue;
}
