html {
  font-size: 200%;
}

.app {
  width: 100%;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-selector {
  font-size: 0.6rem;
  margin: 0.5em 0;
  text-align: center;
}
